.card-product {
  width: 320px;
  background: rgba(255,255,255, .1);
  border-radius: 20px;
}

.icon-price:hover, .icon-price:active {
  transform: rotate(360deg);
}
.icon-price{
  transition: all 1s;
}

@media (max-width: 380px) {
.card-product {
  width: 100%;
}
}