@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

html{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif !important;
}
*,*:before, *:after{
  box-sizing: inherit;
}
body{
  max-width: 1600px;
	margin: 0;
  font-family: 'Raleway', sans-serif !important;
}
.contaner{
	margin: none auto;
}
.sidebar{
  height: 100%;
  width: 240px;
	position: fixed !important;
	z-index: 3;
	display: none;
  background-color: #010d1a;
	color: #FDFFFC;
	/* transition: 0.6s ease-out; */
}
.animate-left {
	position: relative;
	animation: animateleft 0.4s;
}

@keyframes animateleft{
	from { left:-300px; opacity:0 }
	to { left:0;opacity:1 } 
}

.nav-tags {
	border-bottom: 1px solid #fff;
}
.tag {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #fff;
}

.tag:hover {
	background: rgba(53, 120, 138, 0.4);
}

.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: rgba(0, 0, 0, .6);
}
.profile{
	width: 80%;
	margin: 0 auto;
	height: 150px;
	border-radius: 15px;
	overflow: hidden;
	/* border: 2px solid #63cace; */
}
.profile > img {
	object-fit: cover;
	object-position: top;
}

.page-section {
	margin-left: 0px;
}

.bar-skill{
	height: 28px;
	border: 2px solid #000;
	border-radius: 10px;
	position: relative;
}

.projects-cart{
	width: 290px;
	background: #172737;
	color: #fff;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
}

.btn-jhomani {
	background: #3abba7 !important;
	color: #fff !important;
}

.btn-jhomani-repo {
	background: none !important;
	color: #63cace !important;
	border: 2px solid #64cace !important;
}

.btn-jhomani-repo:hover {
	background: #63cace !important;
	color: #fff !important;
	border: 2px solid #63cace !important;
}

.footer {
	height: 200px;
	border-radius: 25px 25px 0 0;
}
.footer img:hover {
	opacity: .5;
}

.footer .whatsapp {
	background:#1ebea5
}
.footer .gmail {
	background:#d93025
}

.main-contact{
	color: white;
}
.main-contact:hover {
	color: white;
	opacity: .5;
}

.footer  a:hover {
	text-decoration: none;
}



@media (min-width: 800px) {
	.sidebar {
		display: block !important;
		/* opacity: 1 !important; */
		/* z-index: 3 !important; */
	}
	.openSidebar {
		display: none;
	}
	.page-section {
		margin-left: 240px;
	}
}